
* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.container {
    width: 80%;
    height: 650px;
    margin: 0 auto;
    padding-top: 55px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Fredoka One', cursive, monospace;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #6974bf 0px 0px 20px, #6974bf 0px 0px 30px, #6974bf 0px 0px 40px, #6974bf 0px 0px 50px, #6974bf 0px 0px 75px;
    text-align: center;
    color: #171a2e;
    padding: 20px 0;
}
 

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0;
}


.description {
    text-align: center;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-top: 0;
    font-style: italic;
}


form {
    text-align: center;
    padding-top: 5px;
    
}

input {
    width: 35%;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    opacity: 0.6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
}

button {
    padding: 9px 15px;
    margin-left: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
    box-shadow: 0 0 20px #b4b3b3;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to right, #090B0A 20%, #b4b3b3  50%, #090B0A  100%);    
}

button:hover {
    background-position: right center; /* change the color direction*/
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


.ball-container {
    width: 45%;
    height: 60%;
    margin: 0 auto;
    background-image: url("./images/ball.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



.result {
    color: whitesmoke;
    font-family: 'Krona One', sans-serif, monospace;
    font-size: 12px;
    text-shadow: 0px 2px 5px whitesmoke;
    text-align: center;
    position: relative;
    width: 20%;
    margin: 0 auto;
    top: 50%;
}



footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding-top: 30px;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover{
    font-weight: bold;
}

footer i {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

footer i:hover{
    font-size: 20px;
}


/*TABLET*/

@media(min-width: 415px) and (max-width: 960px){

    .container {
        padding-top: 35px;
    }

    h1 {
        font-size: 30px;
        padding-top: 10px;
    }

    h2 {
        font-size: 20px;
        padding-top: 20px;
    }

    .description {
        font-size: 8px;
    }

    form {
        padding-top: 10px;
    
    }

    input {
        width: 50%;
        font-size: 10px;
        padding-left: 10px;
    }

    button {
        padding: 10px 12px;
        margin-left: 3px;
        font-size: 10px;
    }


    .ball-container {
        width: 90%;
        height: 60%;
    }

    .result {
        width: 20%;
        font-size: 11px;
        text-align: center;
}


    footer {
        padding-top: 20px;
        font-size: 12px;
    }

}


/*MOBILE*/

@media(max-width: 414px){


    h1 {
        font-size: 26px;
        padding-top: 10px;
    }

    h2 {
        font-size: 20px;
        padding-top: 10px;
    }

    .description {
        font-size: 8px;
    }

    form {
        padding-top: 15px;
    
    }

    input {
        width: 70%;
        font-size: 10px;
        padding-left: 10px;
    }

    button {
        padding: 10px 12px;
        margin-left: 3px;
        font-size: 10px;
    }


    .ball-container {
        width: 100%;
        height: 45%;
    }

    .result {
        width: 22%;
        font-size: 8px;
        text-align: center;
}


    footer {
        padding-top: 30px;
        font-size: 12px;
    }

}